/*@media (min-width: 576px) {*/
/*    display: flex;*/

/*}*/
/*.button {*/
/*    background-color: #E6563B;*/
/*    color: #FFFF;*/
/*}*/

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.button {border-radius: 50%;}



@media screen and (max-width:768px) {
    p.button {
        background-color: #04AA6D;
        /*border: none;*/
        color: white;
        padding: 6px;
        /*text-align: center;*/
        /*text-decoration: none;*/
        /*display: inline-block;*/
        /*font-size: 6px;*/
        /*margin: 4px 2px;*/
    }

    .button {
        border-radius: 50%;
    }
}